$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$desktop-breakpoint: 1025px;
$max-content-breakpoint: 1280px;
$xxlg-content-breakpoint: 1440px;

///////////////////////////color variables////////////////////////////////
$yellow: #fdd400;
$black: #000;
$yellow-lite: #fad663;
$grey: #ececec;
$torquoise: #d5ede7;
$grey-lite: #fef9fd;
$purple: #ef7778;
