@import "app/scss/variables";
@import "app/scss/mixin";
@import "app/scss/base";

.wrapper{
  position: relative;
  // height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  left:0;
  transition: .6s;
}

.header{
  @include respond(large-down) {
      padding: 0 100px;
    }
  padding: 0 200px;
  height: 100vh;
  margin: 0 auto;
  background-color: $yellow;
  position: relative;
  max-width: 1900px;
    nav {
      @include respond(medium-down) {
          display: none;
        }
    height: 90px;
    display: flex;
    align-items: center;
      ul{
       list-style-type: none;
       display: inline;
        li{
         display: inline-block;
           a{
             font-family: Roboto;
             text-decoration: none;
             padding: 5px 15px;
             border-radius: 15px;
             text-transform: uppercase;
             font-size: 18px;
             font-weight: 800;
             color: $black;
             &:hover{
               background-color: $black;
               color: $yellow;
             }
           }
         }
       }
     }
.slider{
  position: relative;
  .header-title{
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    @include respond(large-down) {
        font-size: 42px;
      }
      @include respond(medium-down) {
          font-size: 32px;
          padding-top: 50px;
        }
    padding-top: 150px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 800;
  }
  img{
    @include respond(large-down) {
        width: 70%;
      }
    @include respond(medium-down) {
        width: 70%;
        padding-top: 30px;
      }
    width: 30%;
    padding-top: 60px;
    display: block;
  }
  a{
    font-family: Roboto;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: $black;
    &:hover{
      background-color: $black;
      color: $yellow;
      }
    }
    .btn {
      @include respond(large-down) {
          margin-top: 35px;
        }
    margin-top: 15px;
    font-size: 12px;
    display: block;
    border: 3px solid $black;
    &:before{
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 3px;
      background-color: $black;
      position: relative;
    }
    &:before{
      width: 20px;
      margin-left: -20%;
      left: -35px;
    }
    &:after{
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 3px;
      background-color: $black;
      position: relative;
    }
    &:after{
      width: 20px;
      margin-right: -20%;
      right: -35px;
    }
    }
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.slider-item{
  @include respond(large-down) {
      display: none;
    }
    padding: 200px 50px;
    display: flex;
    flex-direction: row;
      .item-left{
        width: 50%;
        float: left;
        img{
          width: 50%;
          padding-top: 80px;
        }
      }
      .item-right{
        width: 50%;
        float: right;
        img{
          float: right;
          width: 60%;
        }
      }
  }
}
.scroll{
  @include respond(medium-down) {
      width: 5%;
      margin-left: -10px;
    }
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  }
}
.i-do{
  .wd-head{
    @include respond(large-down) {
        padding: 0 100px;
        height: 400px;
      }
      @include respond(medium-down) {
          padding: 0 20px;
        }
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 200px;
    flex-wrap: wrap;
    display: flex;
    height: 200px;
    .block_a{
      @include respond(large-down) {
          width: 100%;
          padding-top: 50px;
        }
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      h2{
        @include respond(medium-down) {
            font-size: 52px;
          }
        color: $black;
        font-size: 76px;
        font-family: Roboto;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
    .block_b{
      @include respond(large-down) {
          width: 100%;
          padding-top: 50px;
          text-align: center;
        }
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 18px;
        font-family: Roboto;
        font-weight: 500;
      }
    }
  }
  .title-items{
    @include respond(large-down) {
        margin: 0 100px;
        height: auto;
        flex-direction: column;
      }
      @include respond(medium-down) {
          margin: 0 20px;
        }
    display: flex;
    margin: 0 200px;
    height: 470px;
    flex-direction: row;
    justify-content: space-between;
    .item{
      @include respond(large-down) {
          width: 100%;
        }
      width: 32%;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-end;
      img {
        padding: 20px 0;
        margin: 0 auto;
        display: block;
      }
      div{
        @include respond(large-down) {
          padding-bottom: 40px;
          }
        position: relative;
        height: 240px;
        h4{
          @include respond(large-down) {
              font-size: 32px;
              padding-bottom: 20px;
            }
          font-family: Roboto;
          text-transform: uppercase;
        }
        p {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
  .wd-footer {
    @include respond(large-down) {
        padding: 0 100px;
      }
      @include respond(medium-down) {
          padding: 0 20px;
        }
    padding: 0 200px;
    padding-bottom: 150px;
    .block_a{
      @include respond(large-down) {
          display: none;
        }
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .block_b{
      @include respond(large-down) {
        width: 100%;
        }
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      h2{
        @include respond(medium-down) {
            font-size: 52px;
            padding-top: 30px;
          }
        color: $black;
        font-size: 76px;
        font-family: Roboto;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }
  .i-do_content{
    @include respond(large-down) {
        padding-top: 30px;
        height: auto;
      }
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item1{
      @include respond(large-down) {
          width: 100%;
          height: 100vh;
        }
        @include respond(medium-down) {
          width: 100%;
            height: 60vh;
          }
      background-color: $purple;
      width: 25%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        @include respond(large-down) {
            width: 300px;
            height: 300px;
          }
        @include respond(medium-down) {
          width: 150px;
          height: 150px;
          }
        width: 150px;
        height: 150px;
      }
    }
    .item2{
      @include respond(large-down) {
          width: 100%;
          height: 100vh;
        }
        @include respond(medium-down) {
          width: 100%;
            height: 60vh;
          }
      background-color: $grey;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        @include respond(large-down) {
            width: 150px;
            height: 300px;
          }
        @include respond(medium-down) {
          width: 75px;
          height: 150px;
          }
        width: 80px;
        height: 150px;
      }
    }
    .item3{
      @include respond(large-down) {
          width: 100%;
          height: 100vh;
        }
        @include respond(medium-down) {
          width: 100%;
            height: 60vh;
          }
      width: 25%;
      background-color: $torquoise;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        @include respond(large-down) {
            width: 300px;
            height: 300px;
          }
        @include respond(medium-down) {
          width: 150px;
          height: 150px;
          }
        width: 150px;
        height: 150px;
      }
    }
    .item4{
      @include respond(large-down) {
          width: 100%;
          height: 100vh;
        }
        @include respond(medium-down) {
          width: 100%;
            height: 60vh;
          }
      width: 25%;
      background-color: $yellow-lite;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        @include respond(large-down) {
            width: 300px;
            height: 300px;
          }
        @include respond(medium-down) {
          width: 150px;
          height: 150px;
          }
        width: 150px;
        height: 150px;
      }
    }
  }
  .about {
    @include respond(large-down) {
        height: auto;
      }
    text-align: center;
    height: 100vh;
    padding-top: 40px;
    box-sizing: border-box;
    .btn{
      font-family: Roboto;
      text-decoration: none;
      padding: 5px 15px;
      border-radius: 15px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 800;
      color: $black;
      border: 3px solid $black;
      // &:hover{
      //   background-color: $black;
      //   color: $yellow;
      // }
      // &:before{
      //   content: "";
      //   display: inline-block;
      //   vertical-align: middle;
      //   width: 100%;
      //   height: 3px;
      //   background-color: $black;
      //   position: relative;
      // }
      // &:before{
      //   width: 20px;
      //   margin-left: -20%;
      //   left: -35px;
      // }
      // &:after{
      //   content: "";
      //   display: inline-block;
      //   vertical-align: middle;
      //   width: 100%;
      //   height: 3px;
      //   background-color: $black;
      //   position: relative;
      // }
      // &:after{
      //   width: 20px;
      //   margin-right: -20%;
      //   right: -35px;
      // }
    }
    .about-me{
      @include respond(large-down) {
          margin: 0 100px;
          flex-direction: column;
        }
        @include respond(medium-down) {
          margin: 0 20px;
          }
      margin: 0 200px;
      display: flex;
      flex-direction: row;
      padding-top: 50px;
      justify-content: space-between;
      .block_a{
        @include respond(large-down) {
            width: 100%;
          }
        justify-content: center;
        width: 50%;
        h2{
          @include respond(medium-down) {
              font-size: 52px;
            }
          font-size: 76px;
          font-family: Roboto;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      .block_b {
        @include respond(large-down) {
            width: 100%;
          }
        float: right;
        width: 50%;
        p {
          @include respond(large-down) {
              text-align: center;
              padding-top: 20px;
            }
          text-align:left;
          font-family: roboto;
        }
      }
    }
    .diagram-block{
      @include respond(large-down) {
          margin: 0 100px;
          flex-direction: column;
          height: auto;
        }
        @include respond(medium-down) {
          margin: 0 20px;
          }
      margin: 0 200px;
      padding-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h3{
        font-family: Roboto;
        font-size: 48px;
        font-weight: 400;
        padding-top: 25px;
      }
      h4{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
      }
      p{
        @include respond(large-down) {
            padding-bottom: 100px;
          }
        padding-top: 25px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
.contact-block{
  @include respond(large-down) {
      padding: 0 100px;
      flex-direction: column;
      height: auto;
    }
    @include respond(medium-down) {
      padding: 0 20px;
      }
  width: 100%;
  padding: 0 200px;
  height: 100vh;
  background-color: $torquoise;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  .submit-form{
    @include respond(large-down) {
        width: 100%;
        text-align: center;
        padding-top: 50px;
      }
      @include respond(medium-down) {
        padding-top: 10px;
        }
    width: 40%;
    height: 80%;
    padding-top: 210px;
    line-height: 40px;
    h4{
      font-family: Roboto;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
    input{
      @include respond(medium-down) {
        width: 80%;
        }
      border: 3px solid $black;
      border-radius: 10px;
      width: 100%;
      font-size: 18px;
      font-family: Roboto;
      padding-left: 10px;
      outline: none;
      background-color: $yellow;
    }
    textarea{
      @include respond(medium-down) {
        width: 80%;
        margin: 0 auto;;
        }
      border: 3px solid $black;
      border-radius: 10px;
      width: 100%;
      font-size: 18px;
      font-family: Roboto;
      padding-left: 10px;
      outline: none;
      background-color: $yellow;
      display: block;
    }
    div {
      padding-top: 30px;
      text-align: center;
      width: 100%;
      a{
        font-family: Roboto;
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 15px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 800;
        border: 3px solid $black;
        color: $black;
        background-color: $yellow;
        &:hover{
          background-color: $black;
          color: $yellow-lite;
        }
      }
    }
  }
  .contacts{
    @include respond(large-down) {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
      }
    height: 20%;
    width: 50%;
    text-align: center;
    h1{
      @include respond(large-down) {
          padding-top: 50px;
        }
        @include respond(medium-down) {
          font-size: 42px;
          padding-top: 20px;
          }
      padding-top: 125px;
      color: $black;
      font-size: 76px;
      font-family: Roboto;
      font-weight: 800;
      text-transform: uppercase;
    }
    .social{
      @include respond(large-down) {
          padding-top: 25px;
        }
      padding-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      img{
        @include respond(large-down) {
          width: 40px;
          height: 40px;
          }
      }
    }
    .contact-info{
      @include respond(large-down) {
          height: 200px;
          padding-top: 40px;
        }
      @include respond(medium-down) {
        padding-top: 10px;
        height: 150px;
        }
      height: 165px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      text-align: left;
      padding-top: 80px;
      h2{
        @include respond(medium-down) {
          font-size: 16px;
          }
        text-transform: uppercase;
        font-family: roboto;
        padding-bottom: 5px;
      }
      p{
        @include respond(medium-down) {
          font-size: 14px;
          }
        font-family: roboto;
      }
      .address{
        width: 50%;
        height: 50%;
      }
      .empty{
        width: 50%;
        height: 50%;
      }
      .phone{
        width: 50%;
        height: 50%;
      }
      .email{
        width: 50%;
        height: 50%;
      }
    }
  }
}
.footer{
  @include respond(large-down) {
      padding: 0 100px;
      height: auto;
      flex-direction: column;
    }
    @include respond(medium-down) {
      padding:  0 20px;
      }
  display: flex;
  height: 20vh;
  width: 100%;
  padding: 0 200px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: $torquoise;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  .copyright{
    @include respond(large-down) {
        width: 100%;
        text-align: center;
        padding-bottom: 25px;
      }
    width: 40%;
    text-align: left;
    p{
      @include respond(medium-down) {
        font-size: 14px;
        }
      display: block;
      font-family: roboto;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .footer-map{
    @include respond(large-down) {
        display: none;
      }
    width: 60%;
    align-items: flex-end;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        a{
          font-family: Roboto;
          text-decoration: none;
          padding: 5px 10px;
          border-radius: 15px;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 800;
          color: $black;
          &:hover{
            background-color: $black;
            color: $yellow;
          }
        }
      }
    }
  }
}
